{% extends "blog/base.html" %}
{% block content %}
    <br>
    <p><strong>The Blog</strong> is a full-stack web application developed using Python and the Django framework.</p><br> 

    <p>The site functions much like a social network. Users can create, edit, and delete posts, view posts by other users, edit profile info, upload profile pictures, and much more.</p><br>
        
    <p>Feel free to explore the site. Register a new account, login, and create a post. Try adding a profile picture. If you forget your login info, click the Forgot Password link on the Login page. Click around and have fun!</p><br>
        
    <p>Thanks for visiting <strong>The Blog</strong>.</p><br>
{% endblock content %}